body {
	background-color: rgb(42, 42, 46);
	color: #FFFFFF;
	font-family: opensans-regular, sans-serif;
	margin: 0;
}
@font-face {
	font-family: 'opensans-regular';
	src: url('OpenSans-Regular.ttf');
}

a {
	color: inherit;
}
a:hover {
	color: #1E448A;
}
/*Main elements*/
header {
	background-color: rgba(0, 0, 0, 0.1);
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}
header div {
	position: absolute;
	left: 0;
}
header a {
	color: inherit;
	text-decoration: none;
	font-weight: bold;
	margin: 10px;
	font-size: 15px;
}
header a:hover {
	color: #FFFFFF !important;
	text-decoration: underline;
}
section {
	margin-bottom: 52px;
}

h1 {
	text-align: center;
}
h1 + .subtitle {
	text-align: center;
}
/*Graphs*/
.graphs {
	display: flex;
	justify-content: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.graphs > canvas {
	flex: 1;
	max-width: 50%;
}
/*Forms*/
input {
	margin: 0;
}
input[type="number"] {
	background-color: unset;
	color: inherit;
	border: none;
	display: inline;
}

@media only all and (max-width: 1000px) {
	.graphs > canvas {
		max-width: 100%;
	}
}